@font-face {
  font-family: "Arista Pro";
  src:
    url("assets/font/aristapro-light.otf") format("opentype");
}
body {
  padding: 0;
  margin: 0;
  background-color: white;
  /* cursor:none !important; */
  width:100vw;
  height:100vh;
  overflow:hidden;
  color:white;
  /* pointer-events:none; */
}

body#experimental{
  background-color:white;
  color:black;
}

canvas, video {
  margin: auto;
  visibility: visible;
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* cursor: none !important; */
  transition: opacity 1s;
}

	#buttonContainer{
  margin: auto;
  /* background:blue; */
  /* opacity:.5; */
  opacity:.3;
  visibility: visible;
  position:absolute;
  width:550px;
  height:400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* cursor: none !important; */
  transition: opacity 1s;
  z-index:1;

		}

    #buttonContainer button{
      /* background:red; */
      position:absolute;
      cursor: pointer;
      /* opacity:0 !important; */
    }

    /* Button CSS */

  .right{
      width:75px;
      height:400px;
      top:0px;
      right:0px;
    }

    .left{
      width:75px;
      height:400px;
      top:0px;
      left:0px;
    }

  .top{
    width:550px;
    height:75px;
    top:0px;
    left:0px;

  }
  .bottom{
    width:550px;
    height:75px;
    bottom:0px;
    left:0px;
  }

  /* Entrance button */

  button#toLobbyFromEntrance{
    width: 177px;
    height: 342px;
    left: 186px;
    top: 58px;
  }

  /* Lobby buttons */


  button#toLockerroomFromLobby{
    width: 138px;
    height: 238px;
    left: 204px;
    top: 37px;
  }

  button#toShoeLockers{
    width: 138px;
    height: 150px;
    left: 10px;
    top: 188px;
  }

  button#toFishtank{
    width: 108px;
    height: 99px;
    right: 0px;
    top: 128px;
  }

  button#toVending{
    width: 141px;
    height: 243px;
    left: 203px;
    top: 69px;
  }






    button#toEntranceFromLobby{
width: 138px;
    height: 268px;
    left: 204px;
    top: 37px;
  }

  /* Lockerroom buttons */

    button#toLobbyFromLockerroom{
width: 106px;
    height: 207px;
    left: 217px;
    top: 69px;
  }

  button#toLockers{
    width: 342px;
    height: 287px;
    left: 144px;
    top: 55px;
  }

  button#toLaundry{
    width: 89px;
    height: 117px;
    left: 353px;
    top: 175px;
  }

  button#laundryButton{
    width: 280px;
    height: 205px;
    top: 99px;
    left: 136px;
  }



  /* Bathhouse buttons */


  button#toShowers{
    width: 388px;
    height: 244px;
    top: 38px;
    left: 81px;
  }

    button#showerHandle{
    width: 120px;
    height: 120px;
    top: 140px;
    left: 215px;
  }


  button#toJacuzzi{
    width: 300px;
    height: 100px;
    top: 189px;
    left: 30px;
  }

  button#jacuzziButton{
    width: 60px;
    height: 60px;
    top: 35px;
    left: 240px;
  }

    button#toColdbath{
    width: 200px;
    height: 100px;
    top: 189px;
    left: 330px;
  }



    button#coldbathPool{
    width: 479px;
    height: 176px;
    top: 189px;
    left: 36px;
  }


     button#toMural{
width: 431px;
    height: 160px;
    top: 0px;
    left: 60px;
  }


     button#muralBg{
    width: 550px;
    height: 289px;
    top: 52px;
    left: 0;
  }

   button#muralSubject{
width: 200px;
    height: 200px;
    top: 97px;
    left: 175px;
  }

   button#muralForegroundL{
    width: 120px;
    height: 248px;
    top: 92px;
    left: 0;
  }

    button#muralForegroundR{
width: 120px;
    height: 248px;
    top: 92px;
    right: 0px;
  }

  button#toSaunaFromBathhouse{
    width: 127px;
    height: 245px;
    top: 50px;
    left: 211px;
  }


  button#toLockerroomFromBathhouse{
    width: 104px;
    height: 208px;
    top: 58px;
    left: 225px;
  }


    button#toBathhouseFromLockerroom{
width: 104px;
    height: 204px;
    top: 69px;
    left: 223px;
  }
